<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var url = "http://v.juhe.cn/wzpoints/query?key=b8d452af7cc8a3aace387ccd35c9339c&lat=29.461466&lon=116.048369&r=2000";
    var resultJson = {
        "reason": "成功",
        "result": {
            "total": 4,
            "size": 20,
            "list": [{
                "num": 30,
                "detail": "60%机动车违反禁止标线指示的 ;20%在禁止停放机动车的道路或者禁止临时停车的路段停车，机动车驾驶人不在现场或者虽在现场但拒绝立即驶离，妨碍其他车辆、行人通行的;20%机动车逆向行驶的;",
                "province": "江西省",
                "level": "中",
                "district": "星子县",
                "city": "九江市",
                "location": [116.0490112, 29.4766483],
                "address": "白鹿大道",
                "title": "白鹿大道"
            }, {
                "num": 51,
                "detail": "94%机动车违反限制通行、禁止通行规定的;6%在禁止停放机动车的道路或者禁止临时停车的路段停车，机动车驾驶人不在现场或者虽在现场但拒绝立即驶离，妨碍其他车辆、行人通行的;",
                "province": "江西省",
                "level": "高",
                "district": "星子县",
                "city": "九江市",
                "location": [116.0476074, 29.4598885],
                "address": "柳絮路",
                "title": "柳絮路"
            }, {
                "num": 37,
                "detail": "97%在禁止停放机动车的道路或者禁止临时停车的路段停车，机动车驾驶人不在现场或者虽在现场但拒绝立即驶离，妨碍其他车辆、行人通行的;3%不按规定安装机动车号牌;",
                "province": "江西省",
                "level": "中",
                "district": "星子县",
                "city": "九江市",
                "location": [116.0517273, 29.4622116],
                "address": "南康大道",
                "title": "南康大道"
            }, {
                "num": 11,
                "detail": "100%机动车不按交通信号灯规定通行的;",
                "province": "江西省",
                "level": "中",
                "district": "星子县",
                "city": "九江市",
                "location": [116.0453644, 29.4659824],
                "address": "秀峰大道",
                "title": "秀峰大道"
            }]
        },
        "error_code": 0
    };




    var shujv2 = {
        "status": "0", "msg": "成功", "result": {
            "total": "12", "size": "12", "list": [{
                "lon": "116.048447",
                "lat": "29.455805",
                "title": "江西省九江市星子县冰玉路",
                "num": "1",
                "city": ""
            }, {
                "lon": "116.044929",
                "lat": "29.464666",
                "title": "江西省九江市星子县白鹿大道",
                "num": "7",
                "city": ""
            }, {
                "lon": "116.044588",
                "lat": "29.456762",
                "title": "江西省九江市星子县交通局",
                "num": "16",
                "city": ""
            }, {
                "lon": "116.044171",
                "lat": "29.456546",
                "title": "江西省九江市星子县休闲广场",
                "num": "8",
                "city": ""
            }, {
                "lon": "116.044886",
                "lat": "29.450761",
                "title": "江西省九江市星子县南康大道",
                "num": "8",
                "city": ""
            }, {
                "lon": "116.046389",
                "lat": "29.447886",
                "title": "江西省九江市星子县爱莲路",
                "num": "1",
                "city": ""
            }, {
                "lon": "116.04024",
                "lat": "29.461816",
                "title": "江西省九江市星子县文昌路",
                "num": "1",
                "city": ""
            }, {
                "lon": "116.040787",
                "lat": "29.451447",
                "title": "江西省九江市星子县柳絮路",
                "num": "347",
                "city": ""
            }, {
                "lon": "116.038811",
                "lat": "29.459927",
                "title": "江西省九江市星子县玉帘路",
                "num": "136",
                "city": ""
            }, {
                "lon": "116.036903",
                "lat": "29.454365",
                "title": "江西省九江市星子县蔡家岭路",
                "num": "92",
                "city": ""
            }, {
                "lon": "116.0351",
                "lat": "29.463545",
                "title": "江西省九江市星子县庐阳车站",
                "num": "11",
                "city": ""
            }, {"lon": "116.033989", "lat": "29.463789", "title": "江西省九江市星子县上京路", "num": "25", "city": ""}]
        }
    }
</script>
</body>

</html>