<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon"/>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <link rel="apple-touch-icon" href="./images/114.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="index,nofollow">
    <title>庐山市违章及事故高发地|星子县易违章地及事故高发地汇总</title>
    <style type="text/css">

        #l-map {
            height: 300px;
            width: 100%;
        }

        #r-result {
            width: 100%;
            font-size: 14px;
            line-height: 20px;

        }

        #r-result>h4{
            text-align: center;
            color:#da0000;
            font-weight: bolder;
        }
        #r-result>p{
        	margin: 10px;
        }
        #r-result>p span{
        	 color:blue;
            font-weight: bolder;
        }

    </style>
    <link rel="stylesheet" href="./css/bottomPart.css">

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=jYNU39RZ3k37NUz1QduizaYD"></script>
</head>
<body>
<div id="header">
    <div class="top-bar">
        <i class="go-back-icon"></i>
        <h3 class="search-form"> 庐山市违章及事故高发地 </h3>
        <i class="menu-icon"></i>
    </div>
</div>
<div class="wrap">
<div id="l-map"></div>
<div id="r-result">
    <h4>注：该标注地图支持缩放、移动功能</h4>
    <hr>
    <div id="result"></div>
    <p> <span> 易违章路段:</span> 见地图标注。以上易违章路段地图标注根据庐山市交管局公布及车主提供的资料汇总整理而成，如还有补充可进入QQ群：<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=20fc1d691db6a7bf5f8b96adde468d735a03d2cfb0c721dc7c8f2d35c4840550">286080205</a>(点击链接可一键加群)与本人联系。<br><br>
    <span> 事故多发地段:</span> 环山公路观音桥路口、峰德镇路段、温泉东山村路段、新蓼温线沿途集镇（村庄）路段、鄱湖西大道及延伸线。（主要是因为这些路段沿途村庄多，路况又较好，车流量大）---摘自星子交警微信公众号<br><br>
    最后希望大家遵守交通法规，谨慎驾驶，文明行车。
</p>
    <div id="footer">
        <div class="function-keys">
            <ul>
                <li>
                    <a href="./index">返回首页
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="window.scrollTo(0, 0);">返回顶部
                    </a>
                </li>
                <li>
                    <a href="./feedback">反馈
                    </a>
                </li>
                <li>
                    <a href="./about" class="noborder-right">关于我们
                    </a>
                </li>
            </ul>

        </div>
        <div class="access-method">
            <ul>
                <li>
                    <a href="./underconstruction">
                        <i class="client-icon"></i>
                        <span>客户端</span>
                    </a>
                </li>
                <li>
                    <a href="####">
                        <i class="touch-screen-icon"></i>
                        <span>触屏版</span>
                    </a>
                </li>
                <li>
                    <a href="./underconstruction">
                        <i class="pc-icon"></i>
                        <span>电脑版</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright-record">
            <p>庐山市李氏家居</p>
            <p>ICP备案证书号：赣ICP备16012538号-1</p>
        </div>
    </div>
</div>
</div>
<div class="cover-part">
    <ul class="clearfix cover-part-ul">
        <li><a href="/index"><img src="./images/菜单项/首页.png" alt="首页图标">
            <p>首页</p></a></li>
        <li><a href="/sort"><img src="./images/菜单项/分类.png" alt="分类图标">
            <p>分类</p></a></li>
        <li><a href="/hot"><img src="./images/菜单项/正在热销.png" alt="正在热销图标">
            <p>正在热销</p></a></li>
        <li><a href="/contact"><img src="./images/菜单项/联系我们.png" alt="联系我们图标">
            <p>联系我们</p></a></li>
    </ul>
</div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("l-map");
    map.centerAndZoom(new BMap.Point(116.049369, 29.460066), 15);
    map.enableScrollWheelZoom(true);
    var index = 0,nub=0;
    var myGeo = new BMap.Geocoder();
    var adds = [
        new BMap.Point(116.052158,29.462703),
        new BMap.Point(116.0476074, 29.4598885),
        new BMap.Point(116.050288,29.457196),
        new BMap.Point(116.050658,29.456201),
        new BMap.Point(116.038488,29.472977),
        new BMap.Point(115.95787,29.438772),
        new BMap.Point(116.044438,29.464725),
        new BMap.Point(116.05071,29.456992),
        new BMap.Point(116.041399,29.456229),
        new BMap.Point(116.049436,29.457321),
        new BMap.Point(116.052333,29.464114),
        new BMap.Point(116.049975,29.463261),
        new BMap.Point(116.044571,29.465258),
        new BMap.Point(116.052193,29.451732)
    ];
    var weizhangleixing = {
        0: {"违章原因": "压线;违停;逆行;超速", "违章地址": "白鹿大道"},
        1: {"违章原因": "逆行;违停", "违章地址": "柳絮路"},
        2: {"违章原因": "违停;压线", "违章地址": "南康大道"},
        3: {"违章原因": "违停（电子眼抓拍）", "违章地址": "高杆灯附近"},
        4: {"违章原因": "压线", "违章地址": "上京路红绿灯处"},
        5: {"违章原因": "压线", "违章地址": "归宗红绿灯处"},
        6: {"违章原因": "违停", "违章地址": "玉帘路"},
        7: {"违章原因": "压线", "违章地址": "原派拉蒙红绿灯处"},
        8: {"违章原因": "违停", "违章地址": "湖滨路"},
        9: {"违章原因": "违停（电子眼抓拍）", "违章地址": "一小路段"},
        10: {"违章原因": "违停（电子眼抓拍）", "违章地址": "龙震宾馆路段"},
        11: {"违章原因": "违停（电子眼抓拍）", "违章地址": "秀峰大道加油站"},
        12: {"违章原因": "违停（电子眼抓拍）", "违章地址": "山水阳光路段"},
        13: {"违章原因": "违停（电子眼抓拍）", "违章地址": "二小北门路段"}


    };

    for (var i = 0; i < adds.length; i++) {
        var marker = new BMap.Marker(adds[i]);
        map.addOverlay(marker);
        marker.setLabel(new BMap.Label((i+1)+"." +weizhangleixing[i]["违章地址"] +": "+ weizhangleixing[i]["违章原因"], {offset: new BMap.Size(20, -10)}));
    }
//    function bdGEO() {
//        var pt = adds[index];
//        geocodeSearch(pt);
//        index++;
//    }
//    function geocodeSearch(pt) {
//        if (index < adds.length - 1) {
//            setTimeout(window.bdGEO, 400);
//        }
////        myGeo.getLocation(pt, function (rs) {
////            var addComp = rs.addressComponents,
////            zuizhong=nub++;
////            document.getElementById("result").innerHTML += (zuizhong+1) + ". " + "【地点: 】" + rs.address  +"<br/>"+"  【违章原因:】"+ weizhangleixing[zuizhong]["违章原因"] +"<br/><br/>";
////        });
//    }
//    bdGEO(0);


</script>
<script src="javascripts/zepto.js"></script>
<script src="javascripts/topbar.js"></script>

