.canting {
  width: 200px;
  height: 200px;
}

.chufang {
  width: 200px;
  height: 200px;
}

.ertong {
  width: 200px;
  height: 200px;
}

.jjry {
  width: 200px;
  height: 200px;
}

.keting {
  width: 200px;
  height: 200px;
}

.shufang {
  width: 200px;
  height: 200px;
}

.weishengjian {
  width: 200px;
  height: 200px;
}

.woshi {
  width: 200px;
  height: 197px;
}

.xiyijian {
  width: 200px;
  height: 200px;
}

.yangtai {
  width: 200px;
  height: 192px;
}

